html, body{
  width: 510px;
  margin: 0 auto;
  background-color: #FCFCFC;
  height: 600px;
}

.wrapper{
  width: 100%;
  display:flex; align-items: center; justify-content: center
}

.header{
font-family: 'Rubik Mono One', sans-serif;
text-align: center;
background-color: #4BB6B6;
height: 50px;
}

/* text*/
h1{
margin: 0 auto;
padding: 15px;
font-size: 16px;
float: left;
margin-left: 185px;
}

h2{
font-size: 14px;
font-family: 'Lato', sans-serif;
}

p{
font-size: 12px;
font-family: 'Lato', sans-serif;
}

.explenation{
  margin-top: 15px;
  width: 90%;
  margin-left: 10px;
}
.explenation2{
  margin-top: 15px;
  width: 80%;
  margin-left: 10px
}
/*end text*/

.parent {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 90px 270px 90px;
  grid-template-rows: repeat(2, 110px) repeat(2, 150px);
  }

  .grid{
      background: FCFCFC;
  }
  .item1{
      background-image: url(../img/Group\ 45@2x.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: auto 50px;
      border-bottom: #D2D2D2 1px solid;
      
  }
  .item2{
    border-bottom: #D2D2D2 1px solid;
  }
  .item3{
      border-bottom: #D2D2D2 1px solid;
  }


  .item4{
      background-image: url(../img/Group\ 38@2x.png);
      background-repeat: no-repeat;
      background-position: 20%;
      background-size: auto 50px;
      border-bottom: #D2D2D2 1px solid;

  }
  .item5{
    border-bottom: #D2D2D2 1px solid;
      
  }
  .item6{
    border-bottom: #D2D2D2 1px solid;

      
  }

  /*cookie*/
  .item7{
      background-image: url(../img/Group\ 40@2x.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: auto 50px;
      
  }

  .myButton {
      margin-left: 10px;
      background-color:#4BB6B6;
      border-radius:28px;
      border:1px solid #4BB6B6;
      display:inline-block;
      cursor:pointer;
      color:#ffffff;
      font-size:12px;
      padding:10px 25px;
      text-decoration:none;
  }
  .myButton:hover {
      opacity: 90%;
  }
  .myButton:active {
      position:relative;
      top:1px;
  }
  /*end cookie*/

  .item10{
      background-image: url(../img/Group\ 44.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: auto 50px;
      border-bottom: #D2D2D2 1px solid;
  }
  .item11{
    border-bottom: #D2D2D2 1px solid;
  }
  .item12{
    border-bottom: #D2D2D2 1px solid;
  }

  /*Slider*/
.sliderClass{
  float: right;
}
.sliderClassMain{
  width: 50px;
  height: auto;
  margin: 0 auto;
  margin-top: 43px;
  position: relative;
  border-radius: 25px;
}
.sliderClassMain2{
  width: 50px;
  height: auto;
  margin: 0 auto;
  margin-top: 65px;
  position: relative;
  border-radius: 25px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 55px;
  height: 35px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #4BB6B6;
  -webkit-transition: .4s;
  transition: .4s;
  margin-right: -4px;
}

.sliderOff {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: red;
  -webkit-transition: .4s;
  transition: .4s;
  margin-right: -4px;
}

.slider:before, .sliderOff:before {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  margin-top: 2.2px;
  margin-left: 27px;
  margin-right: 4px;
}

.sliderOff:before {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  margin-top: 2.2px;
  margin-left: 2px;
  margin-right: 4px;
}

input:checked + .slider {
  background-color: red;
}

input:checked + .sliderOff {
  background-color: #4BB6B6;
}

input:focus + .slider {
  box-shadow: 0 0 1px red;
}

input:focus + .sliderOff {
  box-shadow: 0 0 1px #4BB6B6;
}

input:checked + .slider:before {
  -webkit-transform: translateX(-25px);
  -ms-transform: translateX(-25px);
  transform: translateX(-25px);
}

input:checked + .sliderOff:before {
  -webkit-transform: translateX(25px);
  -ms-transform: translateX(25px);
  transform: translateX(25px);
}

/* Rounded sliders */
.slider.round, .sliderOff.round {
  border-radius: 25px;
}

.slider.round:before, .sliderOff.round:before {
  border-radius: 50%;
}

/*end slider*/

#btn1{
  border-radius:28px;
  border:1px solid #FCFCFC;
  background: none;
  cursor: pointer;
  margin-top:  10px;
  font-size:12px;
  font-family: 'Lato', sans-serif;
  float: right;
  margin-right: 20px;
  padding:5px 25px;
  color: #FCFCFC;

}
#btn2{
  border-radius:28px;
  border:1px solid #4BB6B6;
  background: none;
  cursor: pointer;
  margin-left: 130px;
  margin-top:  10px;
  font-size: 17px;
  font-family: 'Lato', sans-serif;
  float: left;

}



.help2{
  float: left;
  margin-left: 212px;
  font-size: 17px;
  font-family: 'Lato', sans-serif;
  margin-top: 10px;
}





/*switch screen btn*/
#div1 {
  display: block;
  margin-top: 10px;
}
#div2 {
  display: none;
  margin-top: 10px;
}